

.add-btn{
    font-size: 15px;
    padding: 12px 19px;
    border: none;
    background: #43a047;
}
table{
    width: 100%;
    text-align: left;
    color: #666;
}
tr{
    width: 100%;
}
th{
    width: 50%;
}
tr{
    font-size: 17px;
    color: black;
}
.delete-btn{
    font-size: 15px;
    padding: 12px 19px;
    border: none;
    background: #ff8a80;
}


